<html>
    <head>
        <title> About</title>
        <link rel="icon" href = "/images/weather-icon.png">
        <link rel="stylesheet" href = "/css/styles.css">
    </head>

    <body>
        <div class = "main-content">
        {{>header}}
        <p>This site is created by Tanishka Gaur. It uses data from <a href = "https://docs.mapbox.com/api/overview/">MapBox</a> and <a href = "https://weatherstack.com/">weatherstack's</a> API.</p>
            <img class = "portrait" src = "./images/weather.jpg">
       </div>

        {{>footer}}
    </body>
</html>